/* projects */

.projects {
    margin-bottom: 150px;
}
.project-card {
    margin-bottom: 90px;
}

.projects__title {
    margin-bottom: 60px;
}


.project-card__image {
    width: 100%;
    margin-bottom: 15px;
  }

.project-card__link {
    color: rgb(173, 24, 24);
    font-size: 20px;
    text-decoration: none;
}

.project-card__title {
    margin-bottom: 15px;
    color: rgb(18, 18, 18);
    font-size: 30px;
    line-height: 41px;
}

.projects__all-button {
    display: inline-block;
    width: 100%;
    padding: 56px;
    color: rgb(173, 24, 24);
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(173, 24, 24);
    background-color: #fff;
    border-radius: 5px;
}

.projects__all-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(173, 24, 24);

}

@media (max-width: 1199px) {
    .projects__title {
        margin-bottom: 30px;
    }
    .project-card {
        margin-bottom: 80px;
    }
    .project-card:last-child {
        margin-bottom: 100px;
    }
    .project-card__image {
        width: 100%;
        object-fit: cover;
    }
    .project-card__title {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: normal;
        letter-spacing: -0.75px;
    }
}

@media (max-width: 767px) {
    .project-card {
        margin-bottom: 49px;
    }  
    .project-card:last-child {
        margin-bottom: 60px;
    }
    .project-card__image{
        height: 250px;
        margin-bottom: 20px;
    }
    
    .projects__all-button {
        padding: 37px;
        font-size: 22px;
        line-height: normal;
        letter-spacing: -0.66px;
    }

    .project-card__title {
        font-size: 18px;
        letter-spacing: -0.54px;
        margin-bottom: 11px;
    }
    .project-card__link {
        font-size: 16px;
    }
}