
/* project-preview */

.project-preview {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../resources/previewproj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}



.project-preview__text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 41px;
}