@import "/styles/header.css";
@import "/styles/hero.css";
@import "/styles/about.css";
@import "/styles/projects.css";
@import "/styles/services.css";
@import "/styles/proj_prev.css";
@import "/styles/contacts.css";

* {
    box-sizing: border-box;
    letter-spacing: -0.03em;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    
}
.title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(173, 24, 24);
    padding: 20px 40px;
    text-decoration: none;
    /* transition: all 0.3s ease; */
}

.button:hover {
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(173, 24, 24);
}

/* media */

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}


@media (max-width: 767px) {
    .container {
        padding: 13px;
    }
    
    
    .button {
        font-size: 16px;
        padding: 15.21px 30.4px;
        line-height: normal;
    }

    .title {
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }
} 