@import url('header.css');
@import url('hero.css');
@import url('about.css');
@import url('projects.css');
@import url('services.css');
@import url('proj_prev.css');
@import url('contacts.css');
@import url('btn.css');
@import url('reviews.css');

* {
    box-sizing: border-box;
    letter-spacing: -0.03em;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    
}
.section-title {
    font-size: 18px;
    letter-spacing: -0.03em;
    line-height: normal;
    text-transform: uppercase;
}





/* media */

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}


@media (max-width: 767px) {
    .container {
        padding: 0 13px;
    }

    .section-title{
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }
} 