@import "/styles/header.css";
@import "/styles/hero.css";
@import "/styles/about.css";
@import "/styles/projects.css";
@import "/styles/services.css";
@import "/styles/proj_prev.css";
@import "/styles/contacts.css";

* {
    box-sizing: border-box;
    letter-spacing: -0.03em;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    
}
.title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(173, 24, 24);
    padding: 20px 40px;
    text-decoration: none;
    /* transition: all 0.3s ease; */
}

.button:hover {
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(173, 24, 24);
}

/* media */

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 15px;
    }
    .hero__title {
        max-width: 802px;
        font-size: 50px;
        line-height: 60px; /* 120% */
        letter-spacing: -1.5px;
    }
    .hero__description {
        bottom: 30px;
    }
    
    .about__text {
        width: 690px;
        font-size: 35px;
        line-height: normal;
        letter-spacing: -1.05px;
    }

    .project-card__image {
        height: 450px;
    }
    .project-card__title {
        font-size: 25px;
        letter-spacing: -0.75px;
    }
}


@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 13px;
    }
    .hero {
        margin-bottom: 80px;
    }
    .hero__title {
        width: 100%;
        font-size: 30px;
        line-height: 31.621px; /* 105.402% */
        letter-spacing: -0.9px;
    }
    .hero__image {
        height: 304px;
    }
    .hero__description {
        width: 312px;
        left: 15px;
        bottom: 15px;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.48px;
    }
    .about {
        margin-bottom: 80px;
    }
    .about__title {
        font-size: 14px;
        letter-spacing: -0.42px;
    }

    .about__text {
        width: 100%;
        font-size: 22px;
        line-height: normal;
        letter-spacing: -0.66px;
    }
    .button {
        width: 194px;
        text-align: center;
        font-size: 16px;
        padding: 15px;
        line-height: normal;
        letter-spacing: -0.48px;
    }

    .title {
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }
    
    .project-card {
        margin-bottom: 49px;
    }  
    .project-card__image{
        height: 250px;
        margin-bottom: 20px;
    }
    
    .projects__all-button {
        padding: 37px;
        font-size: 22px;
        line-height: normal;
        letter-spacing: -0.66px;
    }

    .project-card__title {
        font-size: 18px;
        letter-spacing: -0.54px;
        margin-bottom: 11px;
    }
    .project-card__link {
        font-size: 16px;
    }
} 